/workshop/FP02_controlStatement/nbproject/private/
/workshop/FP02_controlStatement/build/
/workshop/unit1/wso3operators/BasicOperation/nbproject/private/
/workshop/unit1/wso3operators/BasicOperation/build/
/workshop/WSP01/HolaMundo/HolaMundo/nbproject/private/
/workshop/WSP01/HolaMundo/HolaMundo/build/
/workshop/varianza/MediaVarianza/nbproject/private/
/workshop/DesviacionEstandar/DesviacionEstandar/nbproject/private/
/workshop/DesviacionEstandar/DesviacionEstandar/build/
/workshop/New Folder/logicalOperators/nbproject/private/
/workshop/New Folder/logicalOperators/build/
/workshop/ws04/WS04LogicalOperators/nbproject/private/
/workshop/ws04/WS04LogicalOperators/build/
